<div class="index">
  <%= Enum.map @posts, fn post ->
    """
    <h2><a href="#{post.category}/#{post.filename}">#{post.markdown.front_matter.title}</a></h2>
    #{post.html_content}
    <hr />
    """
  end %>
  <%= @older %>
  <%= @newer %>
</div>
