@font-face {
    font-family: 'sweden_sansregular';
    src: url('../fonts/swedensans-webfont.eot');
    src: url('../fonts/swedensans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swedensans-webfont.woff2') format('woff2'),
         url('../fonts/swedensans-webfont.woff') format('woff'),
         url('../fonts/swedensans-webfont.ttf') format('truetype'),
         url('../fonts/swedensans-webfont.svg#sweden_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSansCompressed-Regular.eot');
    src: local('Fira Sans Compressed Regular'),
         url('../fonts/FiraSansCompressed-Regular.eot') format('embedded-opentype'),
         url('../fonts/FiraSansCompressed-Regular.woff') format('woff'),
         url('../fonts/FiraSansCompressed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('fonts/FiraCode-Regular.eot');
    src: local('Fira Code'),
         url('../fonts/FiraCode-Regular.eot') format('embedded-opentype'),
         url('../fonts/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
