<!DOCTYPE html>
<html>
  <head>
    <title>Förvillelser</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="referrer" content="no-referrer" />
    <meta name="generator" content="Gonz" />
    <meta name="Description" content="<%= @meta.description %>">

    <!-- Thanks to https://webbkoll.dataskydd.net/ -->
    <meta name="referrer" content="no-referrer" /> <!-- Content Security Policy -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' gist.github.com" /> <!-- Referrer Policy -->

    <%= @css %>
    <%= @js %>

    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <div class="container">
      <h1>Förvillelser</h1>

      <%= @navigation %>

      <%= @content %>
    </div>
  </body>
</html>
